@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "../mixins";

$very-dark-gray: hsl(0, 0%, 17%);
$dark-gray: hsl(0, 0%, 59%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  font-family: "Rubik", sans-serif;
}

#map {
  z-index: 1;
}

.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  height: 100%;

  .app-header {
    position: relative;

    .result-container {
      width: 500px;
      background: #fff;
      border-radius: 15px;
      position: absolute;
      top: 100%;
      left: 50%;
      width: 70%;
      transform: translate(-50%, -50%);
      padding: 15px 8px;
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-items: center;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      gap: 5px;
      z-index: 2;

      @include xs {
        grid-template-columns: 1fr 1fr;
        transform: translate(-50%, -50%);
      }

      @include md {
        grid-template-columns: repeat(4, 1fr);
        padding: 30px 15px;
      }

      .stats:not(:first-child) {
        @include md {
          border-left: 1px solid $dark-gray;
        }
      }

      .stats {
        @include md {
          padding: 0 16px;
        }

        & > span {
          display: block;
          margin-bottom: 10px;
          color: $very-dark-gray;
          font-size: 0.5rem;
          text-transform: uppercase;
          letter-spacing: 1.25px;
          text-align: center;

          @include lg {
            font-size: 0.75rem;
          }
        }
        & > p {
          font-size: 1rem;
          font-weight: 500;
          text-align: center;

          @include lg {
            font-size: 1.25rem;
          }
        }
      }
    }

    picture {
      display: block;
    }

    img {
      width: 100%;
    }

    .app-header-img-mobile {
      height: 375px;
      max-width: 100%;
      // aspect-ratio: 2.6;
      @include md {
        display: none;
      }
    }

    .app-header-img-desktop {
      display: none;
      width: 100%;
      @include md {
        display: inline-block;
      }
    }

    .app-main {
      position: absolute;
      top: 37%;
      left: 50%;
      transform: translate(-50%, -85%);
    }

    .app-title {
      font-size: 1.5rem;
      font-weight: 400;
      color: #fff;
      text-align: center;
      margin-bottom: 1rem;

      @include sm {
        font-size: 1.25rem;
      }
    }

    .search-container {
      display: flex;
      border-radius: 10px;
      overflow: hidden;

      .searchbar {
        border: none;
        outline: none;
        width: 250px;
        padding: 0.75rem 1rem;

        @include lg {
          width: 350px;
        }
        &::placeholder {
          color: $dark-gray;
          font-size: 0.75rem;

          @include md {
            font-size: 1rem;
          }
        }
      }

      .search-btn {
        background: $very-dark-gray;
        outline: none;
        display: flex;
        padding: 0.75rem 1rem;
      }
    }
  }
}
